#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: #000000
}

.maindiv {
  margin: 40px;
}

.footerbg {
  padding: 20px;
}

.gradient1 {
  background: rgb(38,18,52);
  background: linear-gradient(0deg, rgba(38,18,52,1) 0%, rgba(91,75,107,1) 100%);
}

.nav-item {
  color:#fff
}
.nav-link:hover {
  color:#fff
}

h1 {
  color: #763889;
}

.titleHeader {
  font-size: 30px;
  margin-left: 20px;
}

.almendra-regular {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
}


.footerImg {
  width: 30px;
  margin: 20px;
}

.nav-link {
  color: #fff;
}

.mainphoto {
  margin: 20px;
}

/* LIGHT/DARK MODES */
.App {
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Light mode styles */
.App {
  background-color: white;
  color: black;
}

/* Dark mode styles */
.App.dark-mode {
  background-color: black;
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.App.dark-mode button {
  background-color: white;
  color: black;
}

button:hover {
  opacity: 0.8;
}

/* .light-mode {
  color:#000;
  background-color: white;
}
.headerlight {
  color:#653b67;
}

.dark-mode {
  color:#cecece;
  background-color: #000;
}
.headerdark {
  color:#fff;
} */

.portfolioImg {
  width: 150px;
  height: auto;
}

.errorImg {
  width: 400px;
  height: auto;
}

.imgcontainer {
  margin: 20px;
  width: 18rem
}

.maincontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* light mode */

.light-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}